/* Header.css */

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.active {
  background-color: #343a40; /* Change to your desired color when navbar is active */
}

.navbar-brand {
  color: #fff; /* Navbar brand text color */
  font-weight: bold;
}

.nav-link {
  color: #fff !important; /* Nav link text color */
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
}

.nav-link:hover, .nav-link.active {
  color: #17a2b8 !important; /* Change to your desired color on hover or when active */
}

.navbar-toggler {
  border-color: #fff; /* Color of the navbar toggler icon */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 0.7)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}
